.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__current-group
        test
      .main-chat__group-info__left-box__member-list
        Member:masa
    .main-chat__group-info__edit-btn
      = link_to "#" do
        = "Edit"
      
  .main-chat__message-list
    .main-chat__message-list__message
      .main-chat__message-list__message__upper-info
        .main-chat__message-list__message__upper-info__talker
          masa
        .main-chat__message-list__message__upper-info__data
          2019/11/20(wed) 17:43:01
      .main-chat__message-list__message__text
        おはよう！        

    .main-chat__message-list__message
      .main-chat__message-list__message__upper-info
        .main-chat__message-list__message__upper-info__talker
          masa
        .main-chat__message-list__message__upper-info__data
          2019/11/20(wed) 17:43:01
      .main-chat__message-list__message__text
        おはよう！        

    .main-chat__message-list__message
      .main-chat__message-list__message__upper-info
        .main-chat__message-list__message__upper-info__talker
          masa
        .main-chat__message-list__message__upper-info__data
          2019/11/20(wed) 17:43:01
      .main-chat__message-list__message__text
        おはよう！       

  .main-chat__message-form
    .main-chat__message-form__new-message
      .main-chat__message-form__new-message__input-box
        .main-chat__message-form__new-message__input-box__text 
          type a message      
          %label{class: "main-chat__message-form__new-message__input-box__image" }
            = icon('fas', 'image')
            %input{type: "file"}   
      .main-chat__message-form__new-message__submit-btn
        Send

